.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: relative;
  z-index: 3; /* Ensure the header stays on top */
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  margin-left: 0.5rem;
}

.navDesktop {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navDesktop a {
  color: #fff;
  text-decoration: none;
}

.ctaButton {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.ctaButton:hover {
  background-color: #005bb5;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

/* Mobile Navigation */
.navMobile {
  display: none;
  flex-direction: column;
  position: fixed; /* Fixed positioning */
  top: -100%; /* Place the navigation below the header */
  left: 0;
  width: 100%;
  background-color: #333;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: top 0.5s ease-in-out;
  z-index: -1; /* Ensure it's below the header when closed */
}

.navMobile.open {
  top: 7%; /* When open, keep it below the header */
}

.navMobile a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
}

.contactNav {
  width: 90%;
  margin: 0 auto; /* Center the button on mobile */
}

.ctaButton {
  width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navDesktop {
    display: none; /* Hide desktop navigation on mobile */
  }

  .hamburger {
    display: flex; /* Show hamburger menu on mobile */
  }

  .navMobile {
    display: flex;
    flex-direction: column;
  }
}
